<div class="dl-comp-storybook-password-use">
  <dl-comp-storybook-demo-template :component="component" :playground="playground" ref="demo">
    <template v-slot:uso>
      <div class="dl-comp-storybook-password-use__uso">
        <div class="dl-comp-storybook-password-use__uso-group">
          <h4 class="dl-comp-storybook-password-use__uso-group-title">Password principal</h4>
          <div class="dl-comp-storybook-password-use__uso-group-description" v-html="component.description"></div>
          <div class="dl-comp-storybook-password-use__uso-group-primary">
            <dl-ui-password
              class="dl-ui-password dl-comp-storybook-password-use__uso-password--primary"
              help="help text"
              placeholder="placeholder"
            >
            </dl-ui-password>
            <p>
              <span class="dl-comp-storybook-password-use__uso-group-subtitle"> Password Default: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-password-use__uso-group-primary">
            <dl-ui-password
              class="dl-ui-password--extra-small dl-comp-storybook-password-use__uso-password--primary"
              help="help text"
              placeholder="placeholder"
            >
            </dl-ui-password>
            <p>
              <span class="dl-comp-storybook-password-use__uso-group-subtitle"> Password Extra Small: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-password-use__uso-group-primary">
            <dl-ui-password
              class="dl-ui-password--small dl-comp-storybook-password-use__uso-password--primary"
              help="help text"
              placeholder="placeholder"
            >
            </dl-ui-password>
            <p>
              <span class="dl-comp-storybook-password-use__uso-group-subtitle"> Password Small: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-password-use__uso-group-primary">
            <dl-ui-password
              class="dl-ui-password--medium dl-comp-storybook-password-use__uso-password--primary"
              help="help text"
              placeholder="placeholder"
            >
            </dl-ui-password>
            <p>
              <span class="dl-comp-storybook-password-use__uso-group-subtitle"> Password Medium: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-password-use__uso-group-primary">
            <dl-ui-password
              class="dl-ui-password--large dl-comp-storybook-password-use__uso-password--primary"
              help="help text"
              placeholder="placeholder"
            >
            </dl-ui-password>
            <p>
              <span class="dl-comp-storybook-password-use__uso-group-subtitle"> Password Large: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:playground>
      <div class="demo__dl-ui-password__wrapper">
        <theComponent
          :class="playground.style.value"
          :ref="setDemoRefs"
          @blur="notifyComponentEvent('blur', $event)"
          @focus="notifyComponentEvent('focus', $event)"
          @update:modelValue="notifyComponentEvent('update:modelValue', $event)"
          v-bind="generatedProps"
          v-model="playground.value.value"
        >
        </theComponent>
      </div>
    </template>
  </dl-comp-storybook-demo-template>
</div>
