<div class="dl-comp-storybook-button-use">
  <dl-comp-storybook-demo-template :component="component" :playground="playground" ref="demo">
    <template v-slot:uso>
      <div class="dl-comp-storybook-button-use__uso">
        <div class="dl-comp-storybook-button-use__uso-group">
          <h4 class="dl-comp-storybook-button-use__uso-group-title">Botón principal</h4>
          <div class="dl-comp-storybook-button-use__uso-group-description" v-html="component.description"></div>
          <div class="dl-comp-storybook-button-use__uso-group-primary">
            <dl-ui-button class="dl-ui-button--primary-extra-small dl-comp-storybook-button-use__uso-button--primary">
              Primary Extra Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Primario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-primary">
            <dl-ui-button class="dl-ui-button--primary-small dl-comp-storybook-button-use__uso-button--primary">
              Primary Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Primario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-primary">
            <dl-ui-button class="dl-ui-button--primary-medium dl-comp-storybook-button-use__uso-button--primary">
              Primary Medium
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Primario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-primary">
            <dl-ui-button class="dl-ui-button--primary-large dl-comp-storybook-button-use__uso-button--primary">
              Primary Large
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Primario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>

        <div class="dl-comp-storybook-button-use__uso-group">
          <h4 class="dl-comp-storybook-button-use__uso-group-title">Botón secundario</h4>
          <p class="dl-comp-storybook-button-use__uso-group-description">
            Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
          </p>
          <div class="dl-comp-storybook-button-use__uso-group-secondary">
            <dl-ui-button class="dl-ui-button--secondary-extra-small dl-comp-storybook-button-use__uso-button--secondary">
              Secondary Extra Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Secundario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-secondary">
            <dl-ui-button class="dl-ui-button--secondary-small dl-comp-storybook-button-use__uso-button--secondary">
              Secondary Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Secundario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-secondary">
            <dl-ui-button class="dl-ui-button--secondary-medium dl-comp-storybook-button-use__uso-button--secondary">
              Secondary Medium
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Secundario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-secondary">
            <dl-ui-button class="dl-ui-button--secondary-large dl-comp-storybook-button-use__uso-button--secondary">
              Secondary Large
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Secundario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>

        <div class="dl-comp-storybook-button-use__uso-group">
          <h4 class="dl-comp-storybook-button-use__uso-group-title">Botón terciario</h4>
          <p class="dl-comp-storybook-button-use__uso-group-description">
            Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
          </p>
          <div class="dl-comp-storybook-button-use__uso-group-tertiary">
            <dl-ui-button class="dl-ui-button--tertiary-extra-small dl-comp-storybook-button-use__uso-button--tertiary">
              Tertiary Extra Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Tertiario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-tertiary">
            <dl-ui-button class="dl-ui-button--tertiary-small dl-comp-storybook-button-use__uso-button--tertiary">
              Tertiary Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Tertiario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-tertiary">
            <dl-ui-button class="dl-ui-button--tertiary-medium dl-comp-storybook-button-use__uso-button--tertiary">
              Tertiary Medium
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Tertiario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-tertiary">
            <dl-ui-button class="dl-ui-button--tertiary-large dl-comp-storybook-button-use__uso-button--tertiary">
              Tertiary Large
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Botón Tertiario: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>

        <div class="dl-comp-storybook-button-use__uso-group">
          <h4 class="dl-comp-storybook-button-use__uso-group-title">Botón enlace</h4>
          <p class="dl-comp-storybook-button-use__uso-group-description">
            Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
          </p>
          <div class="dl-comp-storybook-button-use__uso-group-link">
            <dl-ui-button class="dl-ui-button--link-extra-small dl-comp-storybook-button-use__uso-button--link" leftIcon="dl-ui-icon-eye">
              Link Extra Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Link: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-link">
            <dl-ui-button class="dl-ui-button--link-small dl-comp-storybook-button-use__uso-button--link" leftIcon="dl-ui-icon-eye">
              Link Small
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Link: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-link">
            <dl-ui-button class="dl-ui-button--link-medium dl-comp-storybook-button-use__uso-button--link" leftIcon="dl-ui-icon-eye">
              Link Medium
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Link: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-button-use__uso-group-link">
            <dl-ui-button class="dl-ui-button--link-large dl-comp-storybook-button-use__uso-button--link" leftIcon="dl-ui-icon-eye">
              Link Large
            </dl-ui-button>
            <p>
              <span class="dl-comp-storybook-button-use__uso-group-subtitle"> Link: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>
      </div>
    </template>

    <template v-slot:playground>
      <div class="demo__dl-ui-button__wrapper">
        <theComponent
          :class="playground.style.value"
          :ref="setDemoRefs"
          @clicked="notifyComponentEvent('clicked', $event)"
          v-bind="generatedProps"
        >
          {{ playground.slots[0].value}}
        </theComponent>
      </div>
    </template>
  </dl-comp-storybook-demo-template>
</div>
