<div class="dl-comp-kit-welcome">
  <div class="dl-comp-kit-welcome__text-box">
    <h1 class="dl-comp-kit-welcome__text-group">
      <span class="dl-comp-kit-welcome__text-group--main">{{ $t('subtitle') }}</span>
      <span class="dl-comp-kit-welcome__text-group--sub">SIGLE</span>
    </h1>
  </div>
  <div class="dl-comp-kit-welcome__animation">
    <div class="brick brick__one">
      <div class="left"></div>
      <div class="right"></div>
      <div class="container-top">
        <div class="top">
          <div class="dot d-n1"></div>
          <div class="dot d-n2"></div>
          <div class="dot d-n3"></div>
          <div class="dot d-n4"></div>
        </div>
      </div>
    </div>

    <div class="brick brick__two">
      <div class="left"></div>
      <div class="right"></div>
      <div class="container-top">
        <div class="top">
          <div class="dot d-n1"></div>
          <div class="dot d-n2"></div>
          <div class="dot d-n3"></div>
          <div class="dot d-n4"></div>
        </div>
      </div>
    </div>

    <div class="brick brick__three">
      <div class="left"></div>
      <div class="right"></div>
      <div class="container-top">
        <div class="top">
          <div class="dot d-n1"></div>
          <div class="dot d-n2"></div>
          <div class="dot d-n3"></div>
          <div class="dot d-n4"></div>
        </div>
      </div>
    </div>

    <div class="brick brick__four">
      <div class="left"></div>
      <div class="right"></div>
      <div class="container-top">
        <div class="top">
          <div class="dot d-n1"></div>
          <div class="dot d-n2"></div>
          <div class="dot d-n3"></div>
          <div class="dot d-n4"></div>
        </div>
      </div>
    </div>

    <div class="brick brick__five">
      <div class="left"></div>
      <div class="right"></div>
      <div class="container-top">
        <div class="top">
          <div class="dot d-n1"></div>
          <div class="dot d-n2"></div>
          <div class="dot d-n3"></div>
          <div class="dot d-n4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
