.dl-comp-kit-demo-pagination {
  &__list {
    margin: 0;
    padding: 0;
    display: inline-block;

    &-item {
      list-style: none;
      display: inline;
      text-align: center;

      &-link {
        cursor: pointer;
        padding: 6px 12px;
        display: block;
        float: left;
        color: $color-action-primary-default;

        &--active {
          background-color: $color-action-primary-default;
          color: $color-base-contrast;
        }

        &--disabled {
          color: $color-action-primary-disabled;
        }
      }
    }
  }
}
