<div class="dl-comp-storybook-split-pane-use">
  <dl-comp-storybook-demo-template :component="component" ref="demo">
    <template v-slot:uso>
      <div class="dl-comp-storybook-split-pane-use__uso">
        <div class="dl-comp-storybook-split-pane-use__uso-group">
          <h4 class="dl-comp-storybook-split-pane-use__uso-group-title">Split Pane principal</h4>
          <div class="dl-comp-storybook-split-pane-use__uso-group-description" v-html="component.description"></div>
        </div>
      </div>
    </template>
  </dl-comp-storybook-demo-template>
</div>
