<div class="dl-ui-password">
  <div :class="containerClass" class="dl-ui-password__container" ref="container">
    <div class="dl-ui-password__label" v-if="label">
      <label for="randomId">{{ label }}</label>
      <span class="dl-ui-password__label-required" v-if="required">*</span>
    </div>
    <div class="dl-ui-password__group">
      <input
        :disabled="disabled"
        :id="randomId"
        :placeholder="placeholder"
        :required="required"
        :type="inputType"
        :value="modelValue"
        @blur="onBlur"
        @focus="onFocus"
        @input="onInput"
      />

      <!-- <button @click="switchHidden" type="button">
        <dl-ui-icon :id="icon" class="dl-ui-icon--small dl-ui-password__iconRight" v-if="showEye"></dl-ui-icon>
      </button> -->
      <dl-ui-action-button
        :icon="icon"
        @clicked="switchHidden"
        class="dl-ui-icon--small dl-ui-password__iconRight"
        ref="showIcon"
        v-if="showEye"
      ></dl-ui-action-button>
    </div>
    <div class="dl-ui-password__help" v-if="help">{{ help }}</div>
  </div>
</div>
