@import 'mixins/multiselect';

.dl-ui-multiselect {
  @include multiselect-style-config(());
}

.dl-ui-multiselect--extra-small {
  $extra-small: (
    'height': 22px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
    'trigger-icon::width': $icon-width-small,
    'trigger-icon::height': $icon-height-small,
    'trigger-icon::padding': $icon-padding-small
  );

  @include multiselect-style-config($extra-small);
}

.dl-ui-multiselect--small {
  $small: (
    'height': 28px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
    'trigger-icon::width': $icon-width-small,
    'trigger-icon::height': $icon-height-small,
    'trigger-icon::padding': $icon-padding-small
  );

  @include multiselect-style-config($small);
}

.dl-ui-multiselect--medium {
  $default: (
    'height': 32px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
    'trigger-icon::width': $icon-width-small,
    'trigger-icon::height': $icon-height-small,
    'trigger-icon::padding': $icon-padding-small
  );

  @include multiselect-style-config($default);
}

.dl-ui-multiselect--large {
  $large: (
    'height': 40px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
    'trigger-icon::width': $icon-width-small,
    'trigger-icon::height': $icon-height-small,
    'trigger-icon::padding': $icon-padding-small
  );

  @include multiselect-style-config($large);

  .dl-ui-multiselect__container {
    @include font-body-medium-regular();
  }

  .dl-ui-multiselect__label {
    @include font-body-medium-regular();
  }

  .dl-ui-multiselect__help {
    @include font-body-small-regular();
  }
}
