{
  "bracketSpacing": true,
  "proseWrap": "never",
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "endOfLine": "lf",
  "attributeGroups": ["$DEFAULT", "^v-"],
  "attributeSort": "ASC",
  "overrides": [
    {
      "files": "src/**/*.html",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
