@import '../mixins/accordion';

$config: (
  'header::background': $color-surface-02,
  'header::hover::background': $color-surface-03,
  'description::color': $color-status-danger-02k,
  'content::background': $color-surface-02,
  'title::text::color': $color-status-info-03
);

.demo__dl-ui-accordion {
  &__wrapper {
    width: 75%;
  }
}

.custom-accordion {
  color: $color-surface-01k;

  @include accordion-style-config($config);
}
