$color-0: #fff;     // white
$color-1: #1c293b;  // divider level 3
$color-2: #2c405a;  // dusk
$color-3: #8dabc4;  // blue gray
$color-4: #a8c6df;
$color-5: #c5d9e8;
$color-6: #ecf5fd;  // pale grey
$color-7: #fafbfc;
$color-8: #0093ee;  // azure
$color-9: #4ece3d;  // toxic green
$color-10:#ff151f;  // cherry red
$color-11:#0079c4;  // Top Bar / Blue
$color-12:#40b630;  // leafy green
$color-13:#ab7df6;
$color-14:#26c1c9;
$color-15:#faca00;
$color-16:#81c926;
$color-17:#fd7b1f;
$color-18:#ff8285;
$color-19:#ecef64;
$color-20:#b2ffb1;
$color-21:#93e8fa;
$color-22:#3f536e;
$color-23:#39a12c;
$color-24:#0285d7;
$color-25:#334869; // divider
$color-26:#2c3847; // divider
$color-27:#26374c; // background
$color-28:#67859e; //disabled item
$color-29:#172232; //viewer background
$color-30:#12181e; //backdrop modal
$color-31:#21384e; //backdrop modal

$box-shadow-up: 3px 0 0 0 rgba(0, 0, 0, 0.17), inset 0 -1px 0 0 rgba(255, 255, 255, 0.08);
$box-shadow-down: 0 0 3px 0 rgba(0, 0, 0, 0.17), inset 0 -1px 0 0 rgba(255, 255, 255, 0.08);
