@mixin treebox-style-config($config) {
  .dl-ui-treebox {
    &__container {
      user-select: none;
      width: getmapvalue($config, 'width', 100%);
      border-radius: getmapvalue($config, 'border-radius', 3px);
      box-shadow: $shadow-medium;
      border: getmapvalue($config, 'border', 1px solid transparent);
      padding: getmapvalue($config, 'padding', 6px 8px);
    }

    &--focused > &__container {
      border: 1px solid $color-surface-06;
    }
  }

  .dl-ui-rowitemTree__option-right-icon,
  .dl-ui-rowitemTree__option-left-icon {
    height: getmapvalue($config, 'icon::height', 24px);
    width: getmapvalue($config, 'icon::width', 24px);
    padding: getmapvalue($config, 'icon::padding', 3);
  }

  .dl-ui-list__items {
    padding-right: 8px;
  }

  .dl-ui-list__item {
    border: 1px solid transparent;
    padding: getmapvalue($config, 'item::padding', 0 8px);
    border-radius: getmapvalue($config, 'item::border-radius', 4px);
    color: getmapvalue($config, 'item::color', $color-base-highlight-02);
    fill: getmapvalue($config, 'item::color', $color-base-highlight-02);
    min-height: getmapvalue($config, 'item::height', 32px);
    margin: getmapvalue($config, 'item::margin', 0);
    cursor: pointer;

    &:hover {
      fill: getmapvalue($config, 'item::color', $color-base-highlight-02);
      background: getmapvalue($config, 'focus::item::background', $color-emphasis-01);
    }

    &--disabled {
      pointer-events: none;
      cursor: initial;
      color: getmapvalue($config, 'disabled::item::color', $color-action-tertiary-disabled);
    }

    &:focus {
      background: $color-emphasis-01;
      font-weight: 700;
      border: getmapvalue($config, 'focus::item::border', 1px solid $color-emphasis-04);
    }

    &:focus:hover {
      background: getmapvalue($config, 'focus::item::background', $color-emphasis-01);
    }

    &:focus:not(.dl-ui-list__item--highlight) {
      .dl-ui-rowitemTree__option {
        color: getmapvalue($config, 'focus::item::color', $color-emphasis-05);
        fill: getmapvalue($config, 'focus::item::color', $color-emphasis-05);

        .dl-ui-rowitemTree__box-text {
          font-weight: bold;
        }
      }
    }
  }

  .dl-ui-list__item--highlight {
    border: 1px solid transparent;
    color: getmapvalue($config, 'item::color', $color-base-contrast);
    fill: getmapvalue($config, 'item::color', $color-base-contrast);
    background: getmapvalue($config, 'selected::item::background', $color-emphasis-04);

    &:active {
      color: getmapvalue($config, 'item::color', $color-base-contrast);
    }

    &:focus {
      background: getmapvalue($config, 'selected::item::background', $color-emphasis-04);
    }

    &:hover {
      color: getmapvalue($config, 'item::color', $color-emphasis-04);
    }

    &:focus:hover {
      color: getmapvalue($config, 'item::color', $color-base-contrast);
      fill: getmapvalue($config, 'item::color', $color-base-contrast);
      background: getmapvalue($config, 'selected::item::background', $color-emphasis-04);
    }
  }
}
