/* stylelint-disable selector-no-qualifying-type, property-no-vendor-prefix */
@charset 'utf-8';

@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/reset';
@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/theme/SIGLE';
@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/theme/ATM';
@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/theme/defense';
@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/theme/iNM';
@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/theme/transports';
@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/theme/wireframe';
@import '~@indra-dl/dl-fmwk-ui-layout/src/layout/theme/IDS';
@import 'storybook';

body {
  display: flex;

  @include font-body-medium-regular();

  line-height: 1.3rem;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: $color-surface-02;
}

h1,
h2,
h3,
h4 {
  @include font-h3();
}

h1 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

input {
  border: 1px solid $color-action-primary-active;
}

input[type='number'] {
  text-align: center;
  width: 80px;
  -moz-appearance: unset;

  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}

select {
  border: 1px solid $color-emphasis-03k;
  height: 1.5rem;
  width: 200px;
}

input[type='checkbox'] {
  -webkit-appearance: checkbox;
}

.app {
  $from: $color-surface-06 0%;
  $to: $color-emphasis-03k 68%;

  flex: 1 1 auto;
  background: linear-gradient(135deg, $from, $to);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__header {
    flex: 0 0 auto;
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: baseline;
    color: $color-base-contrast;
    fill: $color-base-contrast;

    &-left {
      flex: 1 1 auto;
      justify-content: flex-start;
      display: flex;
      align-items: baseline;
      padding-left: 1rem;
    }

    &-title {
      font-size: 1.8rem;
      flex: 0 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      @include font-h3();

      height: 1.8rem;
    }

    &-subtitle {
      flex: 0 0 auto;
      font-size: 1rem;
      padding-left: 1rem;
    }

    &-right {
      flex: 1 1 auto;
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }

    &-help {
      margin: 0 0.5rem;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      fill: $color-base-contrast;
    }

    &-version {
      font-size: 0.8rem;
      flex: 0 0 auto;
    }
  }

  &__main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 2rem;
    align-self: center;
    width: 100%;
    height: calc(100% - 80px);

    @media (max-width: 768px) {
      padding: 0 1.4rem;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: calc(100vh - 100px);
    }
  }

  &__footer {
    flex: 0;
    display: flex;
  }

  &--router_transition {
    &-enter-active,
    &-leave-active {
      transition: all 0.2s linear;
    }

    &-enter,
    &-leave-active {
      opacity: 0;
    }
  }
}
