@import '@/storybook/sass/mixins';
@import '@/storybook/sass/typography';
@import '~@/components/atoms/dl-ui-icon/mixins/icon';

.dl-comp-storybook-landing {
  background-color: $color-surface-01k;

  &--main {
    background-color: $color-surface-03;
  }

  &--gradient {
    background:
      linear-gradient(
        to bottom,
        $color-emphasis-04 88px,
        transparent 88px
      );
  }

  &-header {
    padding: 0 96px;

    &__action {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h6 {
        color: $color-base-02;
      }

      a {
        &::after {
          background: $color-action-tertiary-default;
          width: 32px;
          height: 32px;
          border-radius: 50px;
          text-align: center;
        }
      }
    }
  }

  &__section {
    @include article();

    padding: 0 96px;
    max-width: 1240px;

    &__action {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h6 {
        color: $color-base-02;
      }

      a {
        &::after {
          background: $color-action-tertiary-default;
          width: 32px;
          height: 32px;
          border-radius: 50px;
          text-align: center;
        }
      }
    }

    &--three > &__cards {
      max-width: 1200px;
    }

    &__documentation {
      @include article();

      &__header {
        h6 {
          color: $color-base-highlight-03k;
        }
      }

      &__action {
        a {
          color: $color-action-primary-default;
        }
      }
    }

    &-icon {
      @include config-icon(24px, 24px);

      &--large {
        @include config-icon(48px, 48px);
      }
    }
  }

  &-actualizaciones {
    @include article();
  }

  &-header,
  &-documentation,
  &-actualizaciones {
    &__header {
      @include header();
    }

    &__header-icon {
      @include config-icon(48px, 48px);
    }

    &__action {
      @include action();
      @include link();
    }
  }

  .layout-card-group {
    display: flex;
    flex-wrap: wrap;

    .dl-comp-storybook-card {
      flex: 0 0 290px;
      margin: 0 32px 32px 0;

      &:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
}
