.dl-comp-storybook-checkbox-use {
  &__uso {
    padding: 3rem;

    &-checkbox {
      &--default {
        margin-right: 2rem;
      }

      &--checked {
        margin-right: 2rem;
      }

      &--indeterminate {
        margin-right: 2rem;
      }

      &--disabled {
        margin-right: 2rem;
      }
    }

    &-group {
      &-title {
        margin-top: 1rem;
        color: $color-action-primary-default;

        @include font-h4();
      }

      &-description {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      &-subtitle {
        @include font-body-medium-bold();
      }

      &-primary {
        margin-right: 2rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
      }
    }
  }
}
