<div class="dl-comp-storybook-progress-bar-use">
  <dl-comp-storybook-demo-template :component="component" :playground="playground" ref="demo">
    <template v-slot:uso>
      <div class="dl-comp-storybook-progress-bar-use__uso">
        <div class="dl-comp-storybook-progress-bar-use__uso-group">
          <h4 class="dl-comp-storybook-progress-bar-use__uso-group-title">Progress Bar principal</h4>
          <div class="dl-comp-storybook-progress-bar-use__uso-group-description" v-html="component.description"></div>
          <div class="dl-comp-storybook-progress-bar-use__uso-group-primary">
            <dl-ui-progress-bar
              :max="100"
              :min="0"
              :value="60"
              class="dl-ui-progress-bar dl-comp-storybook-progress-bar-use__uso-progress-bar--default"
            >
            </dl-ui-progress-bar>
            <p>
              <span class="dl-comp-storybook-progress-bar-use__uso-group-subtitle"> Progress Bar: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:playground>
      <div class="demo__dl-ui-progress-bar__wrapper">
        <theComponent :class="playground.style.value" :ref="setDemoRefs" v-bind="generatedProps"> </theComponent>
      </div>
    </template>
  </dl-comp-storybook-demo-template>
</div>
