@import '../../../../components/molecules/dl-ui-stepper/mixins/stepper';
@import '../../../../components/molecules/dl-ui-dialog/mixins/dialog';

.dl-comp-kit-development {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 550px;

  .calendar-container {
    width: 100%;
  }

  .test-dialog {
    $dlgcfg: (
      'width': 400px
    );

    @include dialog-style-config($dlgcfg);
  }

  .test-stepper {
    $steppercfg: (
      'bar::transition-duration': 1000ms,
      'marker::transition-duration': 90ms,
      'marker::size': 60px,
      //'bar::height': 4px,
      'bar::transition-timing-function': linear
    );

    @include stepper-style-config($steppercfg);
  }

  .stepSync {
    div {
      font-size: 42px;
      line-height: normal;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
