@import '~highlight.js/styles/an-old-hope.css';

.dl-comp-storybook-updates {
  width: 100%;

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &__tr {
    border: 2px solid $color-surface-05;
  }

  &__td {
    padding: 20px;
    color: $color-action-tertiary-default;

    @include font-body-medium-light();
  }

  &__box {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    align-items: center;
  }

  &__icon {
    width: 16px;
    height: 24px;
  }

  &__name {
    color: $color-action-tertiary-default;

    @include font-body-medium-bold();
  }

  &__version {
    display: flex;
    justify-content: flex-end;
  }
}
