@import 'mixins/tree';

.dl-ui-tree {

  $default: (
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small
  );

  @include tree-style-config($default);

  &--extra-small {
    $extraSmall: (
      'item::height': 22px,
      'icon::width': $icon-width-small,
      'icon::height': $icon-height-small,
      'icon::padding': $icon-padding-small
    );

    @include tree-style-config($extraSmall);
  }

  &--small {
    $small: (
      'item::height': 28px,
      'icon::width': $icon-width-small,
      'icon::height': $icon-height-small,
      'icon::padding': $icon-padding-small
    );

    @include tree-style-config($small);
  }

  &--medium {
    @include tree-style-config($default);
  }

  &--large {
    $large: (
      'item::height': 40px,
      'icon::width': $icon-width-small,
      'icon::height': $icon-height-small,
      'icon::padding': $icon-padding-small
    );

    @include tree-style-config($large);
  }
}
