/* stylelint-disable scss/operator-no-newline-after */
@import '../../dl-ui-input/mixins/commons';

@mixin password-style-config($config) {
  @include input-template($config, 'dl-ui-password');

  .dl-ui-password__container {
    .dl-ui-password__group {
      button {
        //display: flex;
        background-color: transparent;
        border: none;

        .dl-ui-password__iconRight {
          margin-right: 10px;
          position: relative;
          min-width: getmapvalue($config, 'icon::size', 16px);
        }

        &:focus {
          background: transparent;
          border: none;
        }
      }
    }

    // /* siblings */

    // &.dl-ui-password--disabled {
    //   .dl-ui-password__group {
    //     .dl-ui-password__icon {
    //       cursor: default;
    //     }
    //   }
    // }
  }
}
