@import 'mixins/select';

.dl-ui-select {
  @include select-style-config(());
}

.dl-ui-select--extra-small {
  $extra-small: (
    'height': 22px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
  );

  @include select-style-config($extra-small);
}

.dl-ui-select--small {
  $small: (
    'height': 28px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
  );

  @include select-style-config($small);
}

.dl-ui-select--medium {
  $default: (
    'height': 32px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
  ); // height: 32px

  @include select-style-config($default);
}

.dl-ui-select--large {
  $large: (
    'height': 40px,
    'icon::width': $icon-width-small,
    'icon::height': $icon-height-small,
    'icon::padding': $icon-padding-small,
    'clear-icon::width': $icon-width-small,
    'clear-icon::height': $icon-height-small,
    'clear-icon::padding': $icon-padding-small,
    'trigger-icon::width': $icon-width-small,
    'trigger-icon::height': $icon-height-small,
    'trigger-icon::padding': $icon-padding-small
  );

  @include select-style-config($large);

  .dl-ui-select__container {
    @include font-body-medium-regular();
  }

  .dl-ui-select__label {
    @include font-body-medium-regular();
  }

  .dl-ui-select__help {
    @include font-body-small-regular();
  }
}
