<div class="dl-comp-storybook-chip-use">
  <dl-comp-storybook-demo-template :component="component" :playground="playground" ref="demo">
    <template v-slot:uso>
      <div class="dl-comp-storybook-chip-use__uso">
        <div class="dl-comp-storybook-chip-use__uso-group">
          <h4 class="dl-comp-storybook-chip-use__uso-group-title">Chip principal</h4>
          <div class="dl-comp-storybook-chip-use__uso-group-description" v-html="component.description"></div>
          <div class="dl-comp-storybook-chip-use__uso-group-primary">
            <dl-ui-tag
              :stroke="true"
              class="dl-ui-tag dl-comp-storybook-chip-use__uso-chip--primary"
              icon="dl-ids-icon-user-single-outlined"
            >
            </dl-ui-tag>
            <p>
              <span class="dl-comp-storybook-chip-use__uso-group-subtitle"> Chip Default: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-chip-use__uso-group-primary">
            <dl-ui-tag
              :stroke="true"
              class="dl-ui-tag--info dl-comp-storybook-chip-use__uso-chip--primary"
              icon="dl-ids-icon-user-single-outlined"
            >
            </dl-ui-tag>
            <p>
              <span class="dl-comp-storybook-chip-use__uso-group-subtitle"> Chip Info: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-chip-use__uso-group-primary">
            <dl-ui-tag
              :stroke="true"
              class="dl-ui-tag--success dl-comp-storybook-chip-use__uso-chip--primary"
              icon="dl-ids-icon-user-single-outlined"
            >
            </dl-ui-tag>
            <p>
              <span class="dl-comp-storybook-chip-use__uso-group-subtitle"> Chip Success: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-chip-use__uso-group-primary">
            <dl-ui-tag
              :stroke="true"
              class="dl-ui-tag--warning dl-comp-storybook-chip-use__uso-chip--primary"
              icon="dl-ids-icon-user-single-outlined"
            >
            </dl-ui-tag>
            <p>
              <span class="dl-comp-storybook-chip-use__uso-group-subtitle"> Chip Warning: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
          <div class="dl-comp-storybook-chip-use__uso-group-primary">
            <dl-ui-tag
              :stroke="true"
              class="dl-ui-tag--danger dl-comp-storybook-chip-use__uso-chip--primary"
              icon="dl-ids-icon-user-single-outlined"
            >
            </dl-ui-tag>
            <p>
              <span class="dl-comp-storybook-chip-use__uso-group-subtitle"> Chip Danger: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:playground>
      <div class="demo__dl-ui-icon__wrapper">
        <theComponent
          :class="playground.style.value"
          :ref="setDemoRefs"
          @chip-close="notifyComponentEvent('chip-close', $event)"
          @chip-selected="notifyComponentEvent('chip-selected', $event)"
          v-bind="generatedProps"
        >
        </theComponent>
      </div>
    </template>
  </dl-comp-storybook-demo-template>
</div>
