.dl-comp-storybook-split-panes-use {
  &__uso {
    padding: 3rem;

    &-split-panes {
      max-width: 100%;
    }

    &-group {
      &-title {
        margin-top: 1rem;
        color: $color-action-primary-default;

        @include font-h4();
      }

      &-description {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }

      &-subtitle {
        @include font-body-medium-bold();
      }

      &-primary {
        display: flex;
        align-items: center;
      }
    }
  }
}
