<div class="dl-comp-storybook-rating-use">
  <dl-comp-storybook-demo-template :component="component" :playground="playground" ref="demo">
    <template v-slot:uso>
      <div class="dl-comp-storybook-rating-use__uso">
        <div class="dl-comp-storybook-rating-use__uso-group">
          <h4 class="dl-comp-storybook-rating-use__uso-group-title">Rating principal</h4>
          <div class="dl-comp-storybook-rating-use__uso-group-description" v-html="component.description"></div>
          <div class="dl-comp-storybook-rating-use__uso-group-primary">
            <theComponent
              :class="playground.style.value"
              :ref="setDemoRefs"
              @update:modelValue="notifyComponentEvent('update:modelValue', $event)"
              v-bind="generatedProps"
              v-model="playground.value.value"
            >
            </theComponent>
            <p>
              <span class="dl-comp-storybook-rating-use__uso-group-subtitle"> Rating: </span>
              Este sistema cuenta con 3 tipos de botones: primario, secundario y link. Todos ellos se pueden presentar con icono o sin el.
            </p>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:playground>
      <div class="demo__dl-ui-rating__wrapper">
        <theComponent
          :class="playground.style.value"
          :ref="setDemoRefs"
          @update:modelValue="notifyComponentEvent('update:modelValue', $event)"
          v-bind="generatedProps"
          v-model="playground.value.value"
        >
        </theComponent>
      </div>
    </template>
  </dl-comp-storybook-demo-template>
</div>
