/* stylelint-disable scss/no-global-function-names */
@import 'mixins/password';
@import '../dl-ui-input/mixins/commons';

.dl-ui-password {
  $custom: (
    'padding': 0 8px 0 18px
  );
  $cfg: map-merge($medium, $custom);

  @include password-style-config($cfg);
}

.dl-ui-password--extra-small {
  $custom: (
    'padding': 0 0 0 10px
  );
  $cfg: map-merge($extra-small, $custom);

  @include password-style-config($cfg);
}

.dl-ui-password--small {
  $custom: (
    'padding': 0 2px 0 10px
  );
  $cfg: map-merge($small, $custom);

  @include password-style-config($cfg);
}

.dl-ui-password--medium {
  $custom: (
    'padding': 0 8px 0 18px
  );
  $cfg: map-merge($medium, $custom);

  @include password-style-config($cfg);
}

.dl-ui-password--large {
  $custom: (
    'padding': 0 10px 0 18px
  );
  $cfg: map-merge($large, $custom);

  @include password-style-config($cfg);
}
